#hhh{

	background-color: green;
	position: relative;
	
	padding:15px;
	width: 100%;
	height: 25px;
	margin: auto;


}
#fixed{
	width: 100%;
	top: 0px;
	z-index:99;
	position: fixed;
}
#header_left{
	margin-top: 5px;
	float: left;
	margin-left: 200px;
}
#e{
	position: absolute;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
	display: flex;
}
.f {
	list-style: none;
}
.g{

	position: relative;
	width: 30px;
	height: 30px;
	background: #f1f1f1;
	display: block;
	margin: 0 4px;
	border-radius: 100%;
	padding: 6px;
	box-sizing: border-box;
	text-decoration:none;
	box-shadow: 0 10px 15px rgba(0,0,4);
	background: linear-gradient(0deg,#ddd,#fff);
	transition:.5s;

}
.g:hover{
	box-shadow: 0 2px 5px rgba(0,0,0,3);
}
.g .fa{
	width: 100%;
	height:100%;
	display: block;
	background: #ff0;
	border-radius: 50%;
	line-height: calc(30px-40px);
	font-size: 500px;
	color: #262626;
	transition: .5s;
}

#header_rigth{
	float: right;
	margin-right: 80px;
	color: white;
}
#header_botton{
	background-color: white;
	float: left;
	text-align: center;
	margin: auto;
	padding:15px;
	width: 100%;
	height: 100%;

}
#main_menu{
background-color: white;
	float: left;
	text-align: center;
	width: 100%;
 	height: 40px;
 	position: fixed;
 	top: 150px;
 	z-index: 99;
}   
#a{
	margin: 0px;
	padding: 0px;
	list-style: none;

}
.b{
  float:left;
  width: 12.5%;
  height: 40px;
  background-color: #4CC417	;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  }
.c {
	text-decoration: none;
	color: white;
	display: block;
}
.c:hover {
	background-color: green ;
}



#hove:hover{
	background-color: #4CC417;
cursor: pointer;
}#hovee:hover{
	background-color: #4CC417;
cursor: pointer;
}

#list{
	margin-top: 250px;
	width: 100%;
	height:100%;
}

.w{
	margin-top: 50px;
	float: right;
	padding: 10px;
	margin: 10px;
}

#butt1{

	position: absolute;
	left: 250px;
	top: 870px;
}
#butt2{

	position: absolute;
	left: 730px;
	top: 870px;
}
#butt3{

	position: absolute;
	left: 1215px;
	top: 870px;
}
#butt4{
position: absolute;
	left: 250px;
	top: 1330px;
}
#butt5{
position: absolute;
	left: 730px;
	top: 1330px;
}
#butt6{
position: absolute;
	left: 1200px;
	top: 1330px;
}
#butt7{
position: absolute;
	left: 250px;
	top: 1790px;
}
#butt8{
position: absolute;
	left: 730px;
	top: 1790px;
}
#butt9{
	position: absolute;
	left: 1195px;
	top: 1790px;
}



.button{
transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:  #4CC417;
    color: white;
    font-size: 16px;
    padding: 6px 12px;
    border: none;
    cursor: 79inter;
    border-radius: 5px;
    text-align: center;

}
 .button:hover {
    cursor: pointer;
    background-color: #014c2d;
}


#footer{

	width: 100%
	height 1px;
    background-color:green ;
    color: white;
    margin-bottom: 0px;
    
    padding: 100px;


}
#footer_left{
	width: 28%;
	height :10px;
	padding: 0px;
	margin-top: 2px;
	f#oat:1 left;


}
#footer_center1{
	width:  20%;
	height :10px;
	padding: 0px;
	float: left;
	margin-top: 2px;

}
#footer_center2{
	width:  20%;
	height:10px;
	padding: 0px;
	float: left;
    margin-top: 2px;
}
#footer_right{
	width: 20%
	height 10px;
	padding: 0px;
	margin-right: 13%; 
	float: right;
	margin-top: 0px;

}
.footerlist{
	list-style-type: none;
}
.margin5{
	margin-top: 3px;
}
}
.listinside{
	width: 17.5%; height: 208px; float: left; margin-left: 1.7%;
}
#contant3{
	width: 100%;
    height: 300px;
	background-color: #f8f8f8;
    position: relative;
	margin: auto;

}
#ls1{
	width: 62%; 
	height: 208px;
	margin-left:19% ;
	margin-top: 63px;
	 position: absolute;

}
#liin{
margin-left: 0;

}
#lied{
width: 20%;	
}
h6{
	color: gray

}
.aa{
	text-decoration: none;font-size: 10px;color: gray;

}
.aa:hover{
	color: #4CC417;
}

#contant{
	width: 100%;
	height: 2294px;
	    margin: auto;
}

.listinside{
	width: 17.5%; height: 208px; float: left; margin-left: 1.7%;
}

.scc{
	float: left;
	position: absolute;
}
#f1{
	margin-left: 21.5%;
	 width: 10% ;
	 height: 11px;
	 margin-top: 17px;
}
#f2{
	width: 11%;
	 height: 13px;
	  margin-top: 16px;
	  margin-left:59.3%;
}
#f3{
	width: 10%;
	 height: 13px;
	 margin-top: 16px;
	 margin-left: 70.6%;
}
footer {
	width: 100%;
	height: 45px;
    background-color: green;
   margin: auto;
   position: relative;


}
.fp{
	width: 100%; height: 100%; font-size: 10px; font-family: Myriad Pro; margin-top: 0px; color:#B5EAAA	; font-weight: bold;
}



.pic{
margin: 25px;
width: 350px;
margin-left: 50px;

}
img{

}
#picwrapper{
	margin:auto auto;
	margin-top: 350px;
	margin-bottom: 150px;	
}
.q{
margin: 25px;
display: inline;

}.aaa{
margin: 20px;
display: inline;

}


#poa{
	position: absolute;
	top : 210px;
	margin: auto 20px;
	margin: 20px;
    left: 70px;
    font-size: 21px;
	font-family: 'Playfair Display',serif;
	    color: #014c2d;
    text-transform: uppercase;


}


